@import "../../sass/main.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.projects-container {
  height: fit-content;
  background: rgb(240, 240, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects {
  @include emptyText;
  margin-top: 60px;
  align-self: flex-start;
  margin-left: 200px;
}
.text {
  width: 350px;
  margin: 50px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(63, 64, 65);
}
.proj-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.techs {
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
}
.proj-one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 200px;
  margin-top: 100px;
}
.pompom-dash {
  width: 680px;
  &:hover {
    cursor: pointer;
  }
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}
.proj-two {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 150px;
}
.computer {
  // border: white 15px solid;
  background: white;
  border-radius: 10px;
  padding: 12px;
  width: fit-content;
  height: 340px;
}
.boxy {
  height: 340px;
  overflow: scroll;
}
.mucci-home {
  width: 600px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}
.live-btn {
  @include button;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fade-in(0.3s);
}
.modal-content {
  height: 500px;
  width: 800px;
  z-index: 5;
}
.x-out {
  height: 40px;
  position: relative;
  left: 810px;
  font-size: 40px;
  &:hover {
    cursor: pointer;
  }
}
