.home {
  width: 100vw;

  height: 100vh;

  font-size: 75px;
  line-height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  width: 70%;
}
.my-name {
  -webkit-text-stroke: 2px black;
  color: transparent;
}

@media screen and (max-width: 400px) {
  .home {
    font-size: 30px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .home-content {
    width: 60%;
    height: 60%;
  }
}
