.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // background: rgb(236, 236, 236);
  /* background: #f3f6f6; */
}
a {
  text-decoration: none;
  color: black;
}
.social-box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.socials {
  width: 75px;
  z-index: 1;
}
.form {
  width: 100%;
  height: 100vh;
  /* background: #e2eef6; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form {
  z-index: 1;
  height: 450px;
  width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px black solid;
}
.contact-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 30px;
}
.holder {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  font-size: 20px;
  color: grey;
}
.form-title {
  margin-top: 25px;
  font-size: 25px;
  margin-bottom: 40px;
}
.input-line {
  width: 90%;
  border: none;
  border-bottom: 1px black solid;
  background: none;
  line-height: 25px;
  font-size: 20px;
  outline: none;
}
.input-message {
  outline: none;
  resize: none;
  height: 200px;
  width: 90%;
  background: none;
  border: none;
  line-height: 25px;
  font-size: 20px;
}
.input-line:focus {
  background: rgba(192, 192, 192, 0.3);
}
.input-message:focus {
  background: rgba(192, 192, 192, 0.3);
}
.submit {
  margin-top: 20px;
  width: 140px;
  background: none;
  border: 1px solid black;
  height: 50px;
  font-size: 24px;
  box-shadow: 1px 1px grey;
  outline: none;
}
