@import "./sass/main.scss";
.App {
  font-family: "Arimo", sans-serif;
  // font-family: "Maitree", serif;
  position: relative;
}
.scroll-down {
  margin-top: -50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  img {
    width: 40px;
  }
  &:hover {
    cursor: pointer;
  }
}
// .header-bar {
//   height: 100%;
//   width: 100px;
//   position: fixed;
//   left: 1%;
//   top: 65%;
// }
.header-ul {
  padding-top: 100px;
  height: 28%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  // writing-mode: tb-rl;
  // transform: rotate(-180deg);
  li {
    font-size: 15px;
    margin: 15px 0px;
  }
}

.side-links {
  z-index: 1;
  position: fixed;
  left: 30px;
  height: 100vh;
  width: 100px;
  // padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.link-icons {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

footer {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
