.App {
  font-family: "Arimo", sans-serif;
  position: relative;
}
.header-bar {
  height: 100%;
  width: 100%;

  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.header-ul {
  padding-top: 20px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0px 10px;
}

.side-links {
  z-index: 1;
  position: fixed;
  height: 200px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.link-icons {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

/* .test-title {
  transform: translate3d(0px, -2662px, 0px);
} */
